@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
  padding: 0;
  margin: 0;
}

a {

    color: white;
    text-decoration: none;
}

body {
background-image: linear-gradient(to right , #01022d , #000);
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.container {
background-image: linear-gradient( to right ,  #01022de5 30% ,#00000072),
url("download.webp");
color: white;
background-position: center;
width: 90%;
height: 660px;
}



.container:hover {
 background-image: linear-gradient( to right ,  #01022de5 30% ,transparent),
url("download.webp");   
}



header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 40px;
}

.logo {

font-size: 50px;
text-transform: uppercase;

}


ul {
width: 60%;
list-style: none;
display: flex;
justify-content: space-evenly;
}

ul li {
font-size: 24px;
border-bottom: 3px solid transparent;
}
ul li:hover {
    border-bottom-color:white ;
}


.content {

width: 50%;
padding: 30px 40px;
margin-top: 10px;
}

.content h2 {
    font-size: 80px;
    text-transform: uppercase;
}

.content p {
 width: 300px;
 letter-spacing: 3px;
 padding: 5px;
 margin-top: 5px;
}

.content button {
font-size: 30px;
background-color: white;
color: black;
border-radius: 10px;
border: 2px solid transparent;
padding: 20px;
margin-top: 20px;
}


.content button:hover {

background-color: transparent;
border-color: white;
color: white;
cursor: pointer;
}







